<div class="con">
    <div class="wave-group">
        <input required="" type="text" class="input" [(ngModel)]="username">
        <span class="bar"></span>
        <label class="label">
          <span class="label-char" style="--index: 0">N</span>
          <span class="label-char" style="--index: 1">a</span>
          <span class="label-char" style="--index: 2">m</span>
          <span class="label-char" style="--index: 3">e</span>
        </label>
      </div>
      <div>
      <button data-label="Register" class="rainbow-hover">
        <span class="sp" (click)="setMessages()">Register</span>
      </button>

      </div>


</div>

